---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import QuickStart from '../components/QuickStart.astro';
import FeaturePillars from '../components/FeaturePillars.astro';
import TierOverview from '../components/TierOverview.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <FeaturePillars />
    <QuickStart />
    <TierOverview />
    <FAQ />
  </main>
  <Footer />
</Layout>
